.navbar{
    max-width: 90%;
    margin: 0 auto;
    background:linear-gradient( to left ,$navColor 60%, $navSecondColor );
    @include breakBoints(Tablet)
    {
     max-width: 100%;
    }
    .row {
        display: flex;
        align-items: center;
        height: 75px;
        
        .logo {
            width: 300px;
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            background-image: url("../../../imgs/header-lines.jpg");
            background-position: top right;
            background-repeat: no-repeat;

            gap: 1rem;
            border-right: 1px solid $navSecondColor;
            .bars{
                position: relative;
                width: 20px;
                height: 35px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                span{
                    width: 15px;
                    height: 7px;
                    background-color: #428d89;
                }
            }
            > span {
                color:  #428d89;
                font-size: 2rem;
                font-weight: bold;
                @include breakBoints(Tablet)
                {
                 font-size: 1.5rem;
                }
            }
        }
        .links {
            height: 100%;
            display: flex;
            align-items: center;
            margin-left: 2rem;
            flex: 1;
            @include breakBoints(Tablet)
            {
                   
                justify-content: flex-end;
            }
    
            i{
                display: none;
            
        @include breakBoints(Tablet)
        {
            display: block;   
            color: #fff;
            cursor: pointer;
        }
            }
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                @include breakBoints(Tablet)
                {
                    position: absolute;
                    top: 74px;
                    right: 0;
                    flex-direction: column;
                    background-color: $navColor;
                    z-index: 999;
                    height: 0;
                    overflow: hidden;
                }
                li{
                    a{
                        padding: 2rem 3rem ;
                        color:#386771;
                        font-size: 18px;
                    }
                    
                    &.active a,a:hover {
                        background-image: url(../../../imgs/profile/nav-active.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        color: #fff;
                    
                    }
                }
            }
        }
    }
}
@keyframes showNav {
    0%{
        height: 0;
    }
    50%{
        height: 50%;
    }
    100%{
        height: fit-content;
    }
    
}
@keyframes closeNav {
    0%{
        height: 50%;
    }
    100%{
        height: 0;
    }
    
}
.showNav{
    animation:showNav .7s ease-in forwards ;
    overflow: visible;
}
.closeNav{
    animation:closeNav .7s ease-in forwards ;

}