mixin landing(className,message , content)
    div(class="landing "+ className)  
        .message-content 
            .container 
                .left 
                    h2 #{message} 
                .right 
                    p #{content}

    
