.top-box 
        .left 
        .divider 
        .right
footer 
    .container 
        .row 
            .col 
                h2 Main Menu
                ul.list-unstyled 
                    li #[a(href="home.html") Home]
                    li #[a(href="about.html") About]
                    li #[a(href="profile.html") Profile]
                    li #[a(href="contact.html") Contact]
            .col 
                h2 About Us 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce malesuada lacus vel tristique rhoncus. Vivamus vel molestie odio. Curabitur pulvinar, diam at pharetra euismod, augue felis pretium est, sit amet accumsan dui enim nec tortor. Cras lobortis feugiat enim. Aliquam rhoncus pharetra ligula accumsan sodales. Donec blandit sed justo quis sollicitudin. Nulla et leo id purus suscipit rhoncus ut at purus. Suspendisse molestie sodales porttitor. Vivamus et vulputate augue. Etiam et eleifend purus, in sagittis nisi. Vivamus laoreet metus ut nisl euismod molestie. In non lacus placerat ipsum placerat dapibus eu vel arcu.
            .col
                h2 Resources
                ul.list-unstyled 
                    li #[a(href="#") Aenean leogula]
                    li #[a(href="#") Porttitor euconsequat]
                    li #[a(href="#") Vitae eleifend ac enim]
                    li #[a(href="#") Aliquam lorante]
                    li #[a(href="#") Phasellus viverra nulla]
                    li #[a(href="#") Dmetus varius]
            .col 
                h2 Features
                ul.list-unstyled 
                    li #[a(href="#") lorem quis bibendum]
                    li #[a(href="#") Auctor nisi elit conser]
                    li #[a(href="#") at ipsum, nec sagittis]
                    li #[a(href="#") Duis sed odio sit amet]
                    li #[a(href="#") Fnibh vulpu]
                    li #[a(href="#") ftate cursus a sit amet]
    .copyright 
        p Copyright &copy; 2084 Company Name


