
<nav class="navbar"> 
  <div class="container"> 
    <div class="row"> 
      <div class="logo">
        <div class="bars"><span> </span><span> </span><span> </span>
        </div><span>MULTI PRO</span>
      </div>
      <div class="links"> <i class="fa fa-bars fa-2x"></i>
        <ul class="list-unstyled"> 
          <li class="active" data-page="home.html"><a href="home.html"><span>Home</span></a></li>
          <li data-page="about.html"><a href="about.html"><span>About</span></a> </li>
          <li data-page="profile.html"><a href="profile.html"><span>Profile</span></a> </li>
          <li data-page="contact.html"><a href="contact.html"><span>Contact</span></a> </li>
        </ul>
      </div>
    </div>
  </div>
</nav>