.sldier-section 
{
    padding: $sectionPadding;
    .row {
        display: grid;
        grid-template-columns: 750px 1fr;
        gap: 2rem;
        margin-top: 40px;
        @include breakBoints(Tablet)
        {
            grid-template-columns: 1fr;
        }
        .left{
           
            p{
                line-height: 1.7;
                margin-bottom: 2rem;
                span{
                    color: $headingColor;
                    font-weight: bold;
                }
            }
            ul 
            {
                
                display: flex;
                flex-direction: column ;
                gap: 2rem;
                    margin-bottom: 2rem;
                li{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    span{
                        color: $grayColor;
                    }
                }
            }
            .buttons{
                display: flex;
                align-items: center;
                gap: 2rem;
            
            }
        }
        .right {
            position: relative;
            overflow: hidden;
            text-align: center;

            @include breakBoints(Tablet)
            {
                position: relative;
                overflow: hidden;
                order: -1;
            }
            @include breakBoints(Mobile)
            {
                max-width: 100%;
            }
             .swiper-slide img {
                padding: 5px;
                border: 4px solid #ddd;
                max-width: 100%;
            }
            .swiper-button-next, .swiper-rtl .swiper-button-prev
            {
                top: 34%;
                right: 0;
                @include breakBoints(Tablet)
                {
                    top: calc(50% + 10px);
                    right: 0;
                    transform: translateY(-50%);
                }
                @include breakBoints(Mobile)
                {
                    right:  10px;
                }
            }
            .swiper-button-prev, .swiper-rtl .swiper-button-next
            {
                top: 34%;
                left: 0;
                @include breakBoints(Tablet)
                {
                    top: calc(50% + 10px);
                    left: 0;
                    transform: translateY(-50%)
                }
                @include breakBoints(Mobile)
                {
                    left: 10px;
                }
            }
        }
    }
}
.who-we-are 
{
    background-color: #fafafa;
    margin: 60px 0;
    padding:$sectionPadding;
    box-shadow:  3rem  0 3rem #ddd ;
    .row{
        margin-top: 100px;
        display: grid;
        grid-template-columns: 400px 1fr;
        gap: 6rem;
        @include breakBoints(Tablet)
        {
            grid-template-columns: 1fr;
        }
        .left{
            .content{
                display: grid;
                grid-template-columns: 1fr 1fr;
                img{
                    max-width: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                .color{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    font-size: 18px;
                    color: #fff;
                    transition: .3s ease-in;
                    cursor: pointer;
                    &.green{
                        background-color: #079704;
                        &:hover {
                            background-color: rgba(0,0,0,0.5);
                        }
                    }
                    &.crimson{
                        background-color: crimson;
                        &:hover {
                            background-color: rgba(0,0,0,0.5);
                        }
                    }
                    &.yellow{
                        background-color: #d5ba06;
                        box-shadow: 0 1rem  1rem rgba(0, 0, 0, .3);
                        &:hover {
                            background-color: rgba(0,0,0,0.5);
                        }
                    }
                }
            }
        }
        .right{
         
            p{
                line-height: 1.7;
                margin-bottom: 1rem;
                @include breakBoints(Mobile)
                {
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }
        }
    }
}
.blog-section{
    padding-top: $sectionPadding;
    .row {
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10rem;
        position: relative;
        @include breakBoints(Tablet)
        {
            grid-template-columns: 1fr;
            gap: 0;
            
        }
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            height: 100%;
            width: 2px;
            background-color: #999999;
            @include breakBoints(Tablet)
            {
                display: none;
            }
        }
        > .left,.right{
            @include breakBoints(Mobile)
            {
                gap: .5rem !important;
            }
            .box {
                display: grid;
                grid-template-columns: 80% 20% ;
                margin-bottom: 10rem;
                color: #fff;
                @include breakBoints(Tablet)
                {
                   margin-bottom: 1rem;
                }
                
            }
            p{
                color: $grayColor;
                    margin-left: 1rem;
                    line-height: 1.7;
                    text-align: right;
                    
            @include breakBoints(Mobile)
            {
               margin-left: 0;
               line-height: 1.5;
               font-size: .7rem;
            }
            }
            h3{
                color: $headingColor;
                font-size:30px;
                
            @include breakBoints(Mobile)
            {
              font-size: 15px;
            }
            }
            h2{
                @include breakBoints(Mobile)
                {
                    font-size: .8rem;
                }
            }
        } 
        > .left {
        .box{
            .left{
                background-color: $blogSectionSecondColor;
                padding: 1rem ;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                gap: 1rem;
            
             
            }
            .right{
                background-color: $footerColor;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                @include breakBoints(Mobile)
                {
                    font-size: 15px;
                }
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    right: -20px;
                    top: 50%;
                    width: 40px;
                    height: 40px;
                    background-color: $footerColor;
                    transform: translateY(-50%) rotate(45deg);
                    
            @include breakBoints(Mobile)
            {
                display: none;
            }
                }
                &::after{
                    content: "";
                    position: absolute;
                    right: -90px;
                    top: 50%;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: #999999;
                    transform: translateY(-50%);
                    @include breakBoints(Tablet)
                    {
                        display: none;
                    }
                }
               
            }
           
        }
    }
    > .right {
        .box{
            grid-template-columns: 20% 80%;
            margin-top: 130px;
            @include breakBoints(Tablet)
            {
                margin-top: 0;
            }
        .left { 
                background-color: $footerColor;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    left: -20px;
                    top: 50%;
                    width: 40px;
                    height: 40px;
                    background-color: $footerColor;
                    transform: translateY(-50%) rotate(45deg);
                    
            @include breakBoints(Mobile)
            {
                display: none;
            }
                }
                &::after{
                    content: "";
                    position: absolute;
                    left: -85px;
                    top: 50%;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: #999999;
                    transform: translateY(-50%);
                    @include breakBoints(Tablet)
                    {
                        display: none;
                    }
                }
               
        }
        .right{
            background-color: $blogSectionSecondColor;
            padding: 1rem ;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            gap: 1rem;
            
        }
    }
    }
    }
}
.features{
    margin: 100px 0 0;
    background-image: url("../../../imgs/feature-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: $sectionPadding;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
    }
    .container{
        position: relative;
        color: #fff;
        > p{
            text-align: center;
            margin: 2rem 0;
            color: $grayColor;
        }
        
    }
    .skills{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 6rem;
        @include breakBoints(Tablet)
        {
            grid-template-columns: 1fr;
        }
        .skills-progress
        {
            display: flex;
            flex-direction: column;
            .info{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1rem;
            }
            .progress{
                width: 100%;
                height: 30px;
                background-color: #fff;
                span{
                    height: 100%;
                    width: 0;
                    display: block;
                    background-color: $footerColor;
                    transition: .3s linear;
                }
            }
        }
    }
}
